html {
    font-family: sans-serif;
    background: #eee;
    padding: 1rem;
}

body {
    max-width: 1040px;
    margin: 0 auto;
    margin: 0 auto;
    background: white;
}

h1 {
    font-family: sans-serif;
    color: #37a78b;
    margin: 1rem 0;
}

a {
    color: #377ba8;
}

hr {
    border: none;
    border-top: 1px solid lightgray;
}

nav {
    background: lightgray;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
}

nav h1 {
    flex: auto;
    margin: 0;
}

nav h1 a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
}

nav ul  {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a, nav ul li span, header .action {
    display: block;
    padding: 0.5rem;
}

.content {
    padding: 0 1rem 1rem;
}

.content > header {
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: flex-end;
}

.content > header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
}

.flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
}

.post > header {
    display: flex;
    align-items: flex-end;
    font-size: 0.85em;
}

.post > header > div:first-of-type {
    flex: auto;
}

.post > header h1 {
    font-size: 1.5em;
    margin-bottom: 0;
}

.post .about {
    color: slategray;
    font-style: italic;
}

.post .body {
    white-space: pre-line;
}

.content:last-child {
    margin-bottom: 0;
}

.content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

.content label {
    font-weight: bold;
    margin: 0.5em 0;
}

.content input, .content textarea {
    margin-bottom: 1em;
}

.content textarea {
    min-height: 12em;
    resize: vertical;
}

input.danger {
    color: #cc2f2e;
}

input[type=submit] {
    align-self: start;
    min-width: 10em;
}

.gallery {
    column-width: 324px;
}

.imagebox {
    display: inline-block;
    border: solid #000000aa 1px;
    padding: 0.2em;
    max-width: 324px;
    margin-bottom: 0.5em;
}

.result-image, .result-link {
    width: 320px;
    max-height: 100%;
}

.imagebox code {
    display: block;
    word-wrap: anywhere;
    background-color: #fffc;
}

.color-1 {
    background-color: #f3b1cd;
}

.color-2 {
    background-color: #b0abcb;
}

.color-3 {
    background-color: #bad5f0;
}

.color-4 {
    background-color: #c2d5a8;
}

.color-5 {
    background-color: #f8efe6;
}

.color-6 {
    background-color: #a5d5d5;
}

.color-7 {
    background-color: #f0d5ba;
}

.color-8 {
    background-color: #e3a7c0;
}

.color-9 {
    background-color: #f8d7e8;
}

.color-10 {
    background-color: #d6eff6;
}

.color-11 {
    background-color: #f2e9cc;
}

.color-12 {
    background-color: #a5d5d5;
}

.logo {
    max-width: 4em;
    max-height: 4em;
}


.result-link > div {
    display: flex;
    gap: 0.5em;
    align-items: center;
    background-color: #efefef;
}

.box-header {
    display: flex;
}

.box-header > :first-child {
    flex-grow: 1;
}

.facet {
    /*border: solid #0003 1px;
    border-radius: 0.5rem;
    background-color: #0001;*/
    padding: 0.1rem;
    color: #000a;
    font-size: small;
}


.link-bar {
    text-align: right;
}

.link-bar img {
    max-height: 1em;
    max-width: 1em;
}



input:invalid {
    border: 1px solid rgba(255, 0, 0, 0.7);
    box-shadow: 0px 0px 5px red;
}

input:invalid + span::before {
  content: "✖";
  color: red;
}

input:valid + span::before {
  content: "✔";
  color: green;
}


input:invalid + span::before {
  content: "✖";
  color: red;
}

input:valid + span::before {
  content: "✔";
  color: green;
}



#lang {
  width: 20em;
  font-size: 13.3333px;
  z-index: 1;
  position: absolute;
  background: transparent;
}

#language-name {
  position: relative;
  width: 20em;
  text-align: right;
  display: inline-block;
  font-size: 13px;
  z-index: 0;
  color: slategray;
}


.breadcrumbs {
    list-style-type: none;
    display: flex;
    margin-left: -1em;
    gap: 1ex;
}

.breadcrumbs li {
    display: inline-block;
}

.breadcrumbs li:not(:first-child)::before {
    content: "» ";
}
