{% extends 'layout.html' %}

{% block content %}
  <form method="get">
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    <label for="title">Wiktionary</label>
    <select name="wikt" id="wikt">
      <option value="" {{ "selected" if request.args.get('wikt') == '' }}>default (English)</option>
      <option value="fi" {{ "selected" if request.args.get('wikt') == 'fi' }}>suomi</option>
      <option value="en" {{ "selected" if request.args.get('wikt') == 'en' }}>English</option>
      <option value="es" {{ "selected" if request.args.get('wikt') == 'es' }}>español</option>
      <option value="sv" {{ "selected" if request.args.get('wikt') == 'sv' }}>svenska</option>
    </select>
    <label for="title">Language</label>
    <select name="lang" id="lang">
      <option value="" {{ "selected" if request.args.get('lang') == '' }}>(sama)</option>
      <option value="fi" {{ "selected" if request.args.get('lang') == 'fi' }}>suomi</option>
      <option value="en" {{ "selected" if request.args.get('lang') == 'en' }}>englanti</option>
      <option value="es" {{ "selected" if request.args.get('lang') == 'es' }}>espanja</option>
      <option value="sv" {{ "selected" if request.args.get('lang') == 'sv' }}>ruotsi</option>
    </select>
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.args.get('title') or "" }}" required autofocus>
    <input type="submit" value="{{ locale['Search'] }}">
  </form>
  <hr/>

  <div class="gallery">
    {% if images|length == 0 %}
    {{ locale['No results.'] }}
    {% endif %}
    {% for image, wd in images %}
    <div class="imagebox {{ wd.color_class }}" title="{{ wd.text }}">
      <div>
        <a href="{{ wd.url }}">{{ wd.id }}</a>
      </div>
      {% if image.url %}
      <a href="{{ image.url or '' }}">
        <img src="{{ image.thumb }}">
      </a>
      <code>{{ locale.format_image(image.name, image.caption) }}</code>
      {% else %}
        <img src="{{ image.thumb }}">
      {% endif %}
    </div>
  {% endfor %}
  </div>
{% endblock %}
