{% extends 'layout.html' %}
{% block title %}Search{% endblock %}

{% block content %}
  <form method="get">
    <div id="messages">
      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
      {% endfor %}
    </div>
    <label for="title">{{ locale['Wiktionary'] }}</label>
    <select name="wikt" id="wikt">
      <option value="" {{ "selected" if request.args.get('wikt') == '' }}>default (English)</option>
      {% for wiktionary_info in list_locales() %}
      <option
        value="{{ wiktionary_info.subdomain }}"
        {{ "selected" if request.args.get('wikt') == wiktionary_info.subdomain }}
      >
        {{ wiktionary_info.local_name }}
      </option>
      {% endfor %}
    </select>
    {% if show_localization_blurb %}
    <div class="notice">
      No localization found for wiktionary ’{{ request.args.get('wikt') }}’. Using default output.{{' '}}
      Contact user <a href="https://fi.wiktionary.org/wiki/Käyttäjä:Hunsvotti">Hunsvotti</a>, if you want to add localization.
    </div>
    {% endif %}
    <label for="title">{{ locale['Language'] }}</label>
    <div>
      <input list="languages" name="lang" id="lang" value="{{ request.args.get('lang') or locale.language }}" /> <span id="language-name">
      </span>
      <datalist id="languages">
        {% for option in language_options %}
        <option value="{{ option.value }}">{{ option.label }}</option>
        {% endfor %}
      </datalist>
    </div>
    <label for="title">{{ locale['Title'] }}</label>
    <input name="title" id="title" value="{{ request.args.get('title') or '' }}" required autofocus>
    <input type="submit" value="{{ locale['Search'] }}">
  </form>
  <div class="link-bar">
    {% if edit_url %}
    <a href="{{ view_url }}" target="_blank" title="View {{ request.args.get('title') }}">
      <img src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Piece-ico-48px.png"/>
    </a>
    <a href="{{ edit_url }}" target="_blank" title="Edit {{ request.args.get('title') }}">
      <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/VisualEditor-maps-edit-icon.png"/>
    </a>
    {% else %}
    <img style="opacity: 50%" title="No wiktionary selected" src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Piece-ico-48px.png"/>
    <img style="opacity: 50%" title="No wiktionary selected" src="https://upload.wikimedia.org/wikipedia/commons/8/87/VisualEditor-maps-edit-icon.png"/>
    {% endif %}
  </div>
  <hr/>
  <div class="loading-message" style="display: none;">
    {{ locale['Loading...'] }}
  </div>
  <div class="gallery">
    <div class="column-1"></div>
    <div class="column-2"></div>
    <div class="column-3"></div>
  </div>
  <div id="loading-indicator" style="display: none;">
    <img src="static/Loading_indicator.gif"/>
  </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="static/imagebox.js"></script>
  <script type="text/javascript" src="static/index.js"></script>
  <script type="text/javascript">
    const IMAGE_TEMPLATE = "{{ image_template }}";
    function getJsonFromUrl(url) {
        const query = url.substr(1);
        const result = {};
        query.split("&").forEach(part => {
            const item = part.split("=");
            result[item[0]] = decodeURIComponent(item[1]);
        });
        return result;
    }

    async function loadResults() {
        const query = getJsonFromUrl(location.search);
        if ( query.title.trim() === "" ) {
            return;
        }

        document.querySelector('#loading-indicator').style.display = "block";
        try {
            const response = await fetch("/api/item-results?" + new URLSearchParams(query));
            if ( !response.ok ) {
                const json = await response.json();
                throw new Error(`${response.statusText}: ${json.error}`);
            }
            const imageDatas = await response.json();
            const column1 = document.querySelector('.column-1');

            distributeImages(imageDatas);

            if ( column1.childElementCount === 0 ) {
                addMessage('neutral', 'No results');
            }

        } catch ( error ) {
            addMessage('error', error.toString());
            console.error(error);
        } finally {
            document.querySelector('#loading-indicator').style.display = "none";
        }
    }

    document.querySelector('form > input').addEventListener("click", loadResults);
    if ( location.search ) {
        loadResults();
    }
  </script>
{% endblock %}
