{% extends 'layout.html' %}
{% block title %}Search{% endblock %}

{% block path %}
<li><a href="#" onclick="history.back()">search</a></li>
<li>more images</li>
{% endblock %}


{% block content %}
  <div id="messages">
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}
  </div>
  <div class="link-bar">
    {% if edit_url %}
    <a href="{{ view_url }}" target="_blank" title="View {{ request.args.get('title') }}">
      <img src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Piece-ico-48px.png"/>
    </a>
    <a href="{{ edit_url }}" target="_blank" title="Edit {{ request.args.get('title') }}">
      <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/VisualEditor-maps-edit-icon.png"/>
    </a>
    {% else %}
    <img style="opacity: 50%" title="No wiktionary selected" src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Piece-ico-48px.png"/>
    <img style="opacity: 50%" title="No wiktionary selected" src="https://upload.wikimedia.org/wikipedia/commons/8/87/VisualEditor-maps-edit-icon.png"/>
    {% endif %}
  </div>
  <hr/>
  <div class="gallery">
    <div class="column-1"></div>
    <div class="column-2"></div>
    <div class="column-3"></div>
  </div>
  <button id="load-more">More results...</button>
  <div id="loading-indicator" style="display: none;">
    <img src="static/Loading_indicator.gif"/>
  </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="static/imagebox.js"></script>
  <script type="text/javascript">
    const IMAGE_TEMPLATE = "{{ image_template }}";

    async function loadMore(event) {
        const loadMoreButton = event.target;
        loadMoreButton.textContent = 'Load more';

        loadMoreButton.style.display = "none";
        document.querySelector('#loading-indicator').style.display = null;

        try {
            const response = await fetch("/api/structured-data?item=" + "{{ item_id }}");
            if ( !response.ok ) {
                throw new Error(`${response.status} ${response.statusText}`);
            }
            const imageDatas = await response.json();
            const column1 = document.querySelector('.column-1');

            distributeImages(imageDatas);

            if ( column1.childElementCount === 0 ) {
                addMessage('neutral', 'No results');
            }

            if ( imageDatas.length < 10 ) {
                loadMoreButton.style.display = "none";
            } else {
                loadMoreButton.style.display = null;
            }
        } catch ( error ) {
            addMessage('error', error.toString());
            console.error(error);
            loadMoreButton.style.display = null;
            loadMoreButton.textContent = 'Retry';
        } finally {
            document.querySelector('#loading-indicator').style.display = "none";
        }
    }

    {
        const loadMoreButton = document.querySelector('#load-more');
        loadMoreButton.addEventListener("click", loadMore);
        loadMoreButton.click();
    }
  </script>
{% endblock %}
