{% extends 'layout.html' %}
{% block title %}Search{% endblock %}

{% block path %}
<li><a href="#" onclick="history.back()">search</a></li>
<li>more images</li>
{% endblock %}


{% block content %}
  <div id="messages">
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}
  </div>
  <div class="link-bar">
    {% if edit_url %}
    <a href="{{ view_url }}" target="_blank" title="View {{ request.args.get('title') }}">
      <img src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Piece-ico-48px.png"/>
    </a>
    <a href="{{ edit_url }}" target="_blank" title="Edit {{ request.args.get('title') }}">
      <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/VisualEditor-maps-edit-icon.png"/>
    </a>
    {% else %}
    <img style="opacity: 50%" title="No wiktionary selected" src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Piece-ico-48px.png"/>
    <img style="opacity: 50%" title="No wiktionary selected" src="https://upload.wikimedia.org/wikipedia/commons/8/87/VisualEditor-maps-edit-icon.png"/>
    {% endif %}
  </div>
  <hr/>
  <div class="gallery">
    {% for result in results %}
    <div class="imagebox">
      <div class="box-header">
        <a href="x" title="y">z</a>

        {% if result.facet %}
        <span class="facet">{{ result.facet }}</span>
        {% endif %}
      </div>
      {% if result.url %}
      <a href="{{ result.url or '' }}">
        <img class="result-image" src="{{ result.thumb }}" title="å">
      </a>
      <code>{{ locale.format_image(result.name, result.caption) }}</code>
      {% else %}
      <img src="{{ result.thumb }}">
      {% endif %}
    </div>
    {% endfor %}
  </div>
  <button id="load-more">More results...</button>
  <div id="loading-indicator" style="display: none;">
    <img src="static/Loading_indicator.gif"/>
  </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    const IMAGE_TEMPLATE = "{{ image_template }}";

    function addMessage(type, message) {
        const container = document.querySelector('#messages');
        const elem = document.createElement('div');
        elem.setAttribute('class', 'flash');
        elem.textContent = message;
        if ( type == 'success' ) {
            elem.classList.add('success');
        } else if ( type == 'error' ) {
            elem.classList.add('error');
        }
        container.appendChild(elem);
        setTimeout(() => {
            elem.remove();
        }, 5000);
    }

    function createImageBox(item) {
        const box = document.createElement('div');
        box.setAttribute('class', 'imagebox');

        const header = document.createElement('div');
        header.setAttribute('class', 'box-header');

        const img = document.createElement('img');
        const a = document.createElement('a');
        a.href = item.url;
        img.setAttribute('src', item.thumb);
        a.appendChild(img);

        const source = document.createElement('div');
        source.setAttribute('class', 'image-source');

        const code = document.createElement('code');
        code.textContent = IMAGE_TEMPLATE.replace('$FILE', item.name);

        const copyButton = document.createElement('button');
        copyButton.setAttribute('title', 'Copy to clipboard');
        copyButton.addEventListener('click', () => {
            navigator.clipboard.writeText(code.textContent).then(function() {
                addMessage('success', 'Copied!');
            }, function(err) {
                addMessage('error', 'Couldn’t copy text: ' + err.toString());
            });
        });

        const copyIcon = document.createElement('img');
        copyIcon.setAttribute('src', '/static/copy.svg');

        copyButton.appendChild(copyIcon);

        source.appendChild(code);

        if ( navigator.clipboard ) {
            source.appendChild(copyButton);
        }

        box.appendChild(header);
        box.appendChild(a);
        box.appendChild(source);

        return box;

    }

    async function loadMore() {
        document.querySelector('#load-more').style.display = "none";
        document.querySelector('#loading-indicator').style.display = "block";

        try {
            const response = await fetch("/api/structured-data?item=" + "{{ item_id }}");
            if ( !response.ok ) {
                throw new Error(`${response.status} ${response.statusText}`);
            }
            const images = await response.json();
            const gallery = document.querySelector('.gallery');
            for ( const item of images ) {
                const box = createImageBox(item);
                gallery.appendChild(box);
            }

            if ( gallery.childElementCount === 0 ) {
                addMessage('neutral', 'No results');
            }

            if ( images.length < 10 ) {
                document.querySelector('#load-more').style.display = "none";
            } else {
                document.querySelector('#load-more').style.display = "block";
            }
        } catch ( error ) {
            addMessage('error', error.toString());
            console.error(error);
        } finally {
            document.querySelector('#loading-indicator').style.display = "none";
        }
    }

    document.querySelector('#load-more').addEventListener("click", loadMore);
    loadMore();
  </script>
{% endblock %}
